@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Poppins');

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
  background: url("../assets/mainback.svg") no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  resize: both;
  
  font-family: Roboto;
  font-style: normal;
}